@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  border: 20px solid rgb(245, 245, 245);
}

a:link {
  text-decoration: none;
  color: #474747;
}

a:visited {
  text-decoration: none;
  color: #474747;
}

a:hover {
  color: darkgray;
  transition: 0.3s;
}
/* .menu {
  height: 180px;
  background: lightblue;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
} */

.topnav {
  height: 235px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #474747;
  overflow: hidden;
  transition: 0.3s;
  /* padding-left: 50px; */
  line-height: 30px;
  display: flex;
}

.topnav-left ul li a {
  text-decoration: none;
  color: #f1f1f1;
  display: flex;
  transition: 0.5s;
  width: 300px;
  font-size: 24px;
}

.topnav-left ul {
  padding-top: 70px;
  padding-left: 30px;
  list-style: none;
}

.topnav a:hover {
  color: #707070;
}

.topnav-right {
  margin-top: 70px;
  width: 250px;
  line-height: 20px;
  text-decoration: none;
}

.topnav-right p {
  color: #f1f1f1;
  font-size: 24px;
}
.desc {
  color: #f1f1f1;
  font-size: 16px;
}

.button-close {
  color: white;
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 100px;
  margin-left: 50px;
  font-size: 65px;
  cursor: pointer;
  color: whitesmoke;
  transition: 0.5s;
}

.button-open {
  /* padding-top: 0; */
  padding-right: 80px;
  color: #474747;
  font-size: 36px;
  cursor: pointer;
}
.button-close:hover {
  color: #707070;
}

.button-open:hover {
  color: #999999;
  transition: 0.5s;
}

@media screen and (max-height: 450px) {
  .topnav {
    padding-top: 15px;
  }
  .topnav a {
    font-size: 18px;
  }
}

#main {
  transition: margin-top 0.5s 0.2s;
  padding: 16px;
}

.mini-menu {
  margin-left: 50px;
  margin-top: 30px;
}

.description {
  margin-left: 280px;
  margin-top: 30px;
  color: white;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 213px;
}

.nav {
  margin-right: 50px;
  margin-top: 80px;
}

.logo {
  /* margin-top: 50px; */
  margin-left: 40px;
}

.top-bar {
  /* background: lightgrey; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -50px;
}

.lead {
  margin-left: 75px;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.p-name {
  font-size: x-large;
}

.product img {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-display {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 50px;
  padding: 20px;
}

.gallery img {
  width: 100%;
}

.long-name {
  font-size: 24px;
  margin-top: 20px;
}
.back{
  font-size: 30px;
  color: #474747;
  margin-left: 20px;
}

.price {
  margin-top: -10px;
}

.lead-heading {
  font-size: 24px;
  padding-bottom: 10px;
}

footer {
  height: 100px;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

/* Tablet screens */

@media screen and (max-width: 1023px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
  }
  .topnav-right {
    display: none;
   }

   .topnav-left {
    margin:auto;
    text-align: center;
    }

    .topnav-left ul li a {
      text-decoration: none;
      color: #f1f1f1;
      transition: 0.5s;
      width: 300px;
      font-size: 35px;
      display: inline-block;
      text-align: center;
      line-height: 60px;
    }
    
    .topnav-left ul {
      padding-top: 10px;
      padding-left: 30px;
      list-style: none;
 
    }

    body {
      border: none;
    }
}

/* Mobile screens */

@media screen and (max-width: 767px) {
  /*  .topnav {
    height: 100vw;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    overflow: hidden;
    transition: 0.3s;
    padding-left: 50px;
    line-height: 30px;
    display: flex;
  }
 */
  .products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  .product-display {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

 
 }

